[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
invenio-app-rdm = {version = "~=6.0.5", extras = ["elasticsearch7", "postgresql"]}

uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"

# Solving: https://github.com/pallets/markupsafe/issues/284
markupsafe = "<=2.0.1"

# Solving: https://github.com/ipython/ipython/issues/13554
ipython = "<=8.0.1"
[requires]
python_version = "3.8"

[pipenv]
# Needed for invenio-records>v1.5.0b2
allow_prereleases = true
